@font-face {
    font-family: "kollektif";
    src: "Kollektif.ttf" format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

.hanken-grotesk-font {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

html { 
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    background-color: #06050b;
}

.hero-img {
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-text {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12%;
    width: 38%;
}

.tagline {
    margin-top: 0;
    color: #ffffff;
    text-align: center;
    font-family: "kollektif", Verdana, Tahoma;
    font-weight: normal;
    letter-spacing: 0.5em;
    font-size: 2.5dvw;
}

.line {
    background-color: #ff5c00;
    height: 0.1em;
    margin: 3.5% 8% 3.5% 8%;
    z-index: 9999;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5dvw;
    text-align: center;
    margin: 0% 8% 0% 8%;
}

.nav-wrapper {
    padding: 0;
    border: solid;
    border-width: 0.05em;
    border-color: #ff5c00;
    height: 3em;
    color: #ffffff;
    text-decoration: none;
    font-size: 2dvw;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.nav-button {
    display: block;
    padding-left: auto;
    line-height: 3em;
    color: #ffffff;
    text-decoration: none;
    font-size: 2dvw;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.nav-button:hover {
    transition-delay: 0;
    color: #06050b;
    background-color: #ff5c00;
    transition-duration: 500ms;
}

.gallery {
    margin-top: 10%;
    margin-bottom: 10%;
    /* background-image: url("imgs/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 130dvw; */
}

.gallery-imgs {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.gallery-img {
    width: 100%;
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    aspect-ratio: 4/3;
    border-radius: 1dvw;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1.3dvw;
    position: absolute;
    bottom: 2dvw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.7dvw;
    height: 0.7dvw;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.section-title {
    margin: 8% 8% 8% 8%;
    font-family: 'Franklin Gothic Medium';
    letter-spacing: -0.05em;
    font-weight: bolder;
    font-size: 7dvw;
    color: #ffffff;
}

.members {
    margin: 8% 8% 8% 8%;
    display: grid;
    column-gap: 5dvw;
    row-gap: 3dvw;
    grid-template-columns: 1fr 1fr;
    color: #ffffff;
}

.member {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.2dvw;
    font-size: 1.5dvw;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.member-role {
    margin-top: -5%;
    font-style: italic;
}

.member-name {
    font-weight: bolder;
    font-size: 1.6dvw;
}

.member-desc {
    font-size: 1.2dvw;
}

.member-pfp {
    width: 100%;
}

.member-pfp:hover {
    transform:scale(1.1);
    transition-duration: 300ms;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.hidden2 {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.member:nth-child(2), .nav-wrapper:nth-child(2) {
    transition-delay: 200ms;
}
.member:nth-child(3), .nav-wrapper:nth-child(3) {
    transition-delay: 400ms;
}
.member:nth-child(4) {
    transition-delay: 600ms;
}